.cartItemContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.3rem;
}

.productImg {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.cartItemInfo {
  margin-left: 1rem;
}

.cartItemInfo h2 {
  font-size: 1rem;
  margin: 0;
}

.cartItemInfo p {
  margin: 0;
}
