.homepageMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;
}

.searchContainer {
  background-color: darkgrey;
  width: 100%;
  height: 10rem;
  border-radius: 6px;
  margin-bottom: 5rem;
  background-image: url("./../../img/searchbarBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.searchBar {
  width: 80%;
  padding: 0.7rem;
  border-radius: 6px;
  border: none;
}
