@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

.btn {
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Jura", sans-serif;
  font-size: 1em;
}

.primary {
  background-color: #ff4848;
  color: white;
  transition: all 200ms ease-in;
  color: #fefefe;
  text-decoration: none;
}

.primary:hover {
  background-color: #c43b3b;
}

.secondary {
  background-color: goldenrod;
}
